# Compiled output
/dist
/tmp

# Node
/node_modules
npm-debug.log

# IDEs and editors
.idea/

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
