nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

#logo {
    max-width: 50px;
}
